body {
    font-family: "Microsoft JhengHei", "PingFang TC", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f5e3c6;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    background-color: #f5e3c6; 
}


aside {
    flex-basis: 320px;
    background-color:#f3d4a2; 
    padding: 24px;
}

aside .myphoto {
    width: 100%;
    height: 300px; 
    border: 3px solid #4f4848;
    box-sizing: border-box;
    margin-bottom: 20px;
}

aside .myphoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #000000;
}

aside .me {
    padding: 13px;
    min-height: 120px; 
}

.top {
    flex: 10; 
    display: flex;
    flex-direction: column; 
}

header {
    padding: 30px 40px;
    border-bottom: 2px solid #000000;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #000000;
}

main {
    padding: 30px 40px;
    flex: 1;
}

main h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #000000;
}
.mye img{
    width: 300px;
    height: 400px;
}
footer {
    background-color:#ffd695;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

footer span {
    display: flex;
    align-items: center;
}

footer i {
    margin-right: 10px;
}
